<div>
    <h1>Que me parece angular</h1>
    <article>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur quisquam ex ducimus ea, id tempora natus est voluptatum nam veniam at nulla. Modi, quisquam reiciendis esse aspernatur explicabo enim!</p>



    </article>
   
    @defer (on viewport){
    
      <app-comments></app-comments>      
    } @placeholder {
         <p>Futuros comentarios</p>
    } @loading {
        <p>cargando comentarios...</p>
    }


</div>




<!-- <router-outlet></router-outlet> -->
